/*!
 * Kleer website - www.kleer.la
 * Copyright 2016 Kleer
 * Por Mauro Strione - www.innqube.com
 */


/* Global */

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.text-vertical-center {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


/* Botones custom */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}


/* Barra horizontal */

hr.small {
    max-width: 100px;
}


/* Logo */

#logo {
    position: fixed;
    z-index: 99999;
    background: rgb(0, 0, 0);
    width: 200px;
    left: 70px;
    padding: 15px;
}

#logo img {
    width: 100%;
}

#logoMenu {
    display: none;
}


/* Menu lateral*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 350px;
    height: 100%;
    transform: translateX(390px);
    overflow-y: visible;
    background: #63c3d1;
    -webkit-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -ms-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
    display: table;
}

.sidebar-nav {
    top: 0;
    width: 350px;
    margin: 0;
    list-style: none;
    padding: 0 0 0 70px;
}

.sidebar-nav li {
    text-indent: 0px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: inline;
    text-decoration: none;
    color: #999;
    font-size: 16px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #4fa1af;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 20px;
}

#sidebar-wrapper.active {
    right: 350px;
    width: 350px;
    -webkit-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -ms-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
    box-shadow: -5px 0 7px 0 rgba(0, 0, 0, .05);
}

.toggle {
    margin: 5px 5px 0 0;
}

#menu-close {
    position: fixed;
    top: 50%;
    z-index: 99999999;
    margin-top: -27px;
    right: 350px;
    border-radius: 100%;
    border: 4px solid #63c3d1;
    background: #87cedc;
    color: #fbfbfb;
    margin-right: -27px;
    width: 54px;
    height: 54px;
}

.menu-container {
    vertical-align: middle!important;
    width: 100%!important;
    display: table-cell!important;
}

.social-media {
    padding-top: 20px;
    padding-left: 70px;
}

.social-media a:hover {
    color: white;
}

.social-media a {
    color: #337480;
    padding: 2px;
}

.social-media i {
    font-size: 16px;
}


/* Acerca de Kleer */

.about {
    padding: 50px 0;
}


/* Servicios */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

section#services {
    background-color: rgba(228, 96, 149, 1);
}

section#about {
    height: 300px;
    overflow: hidden;
}

.image-about-01 {
    position: absolute;
    width: 70%;
    left: 0px;
    z-index: 3;
}

.image-about-02 {
    position: absolute;
    width: 15%;
    right: 0;
    top: -40px;
    z-index: 1;
}

.image-about-03 {
    position: absolute;
    width: 25%;
    right: 8%;
    z-index: 2;
    top: -20px;
}


/* Separador 1 */

.callout {
    display: table;
    width: 100%;
    height: 300px;
    color: #020202;
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .56)), url(../img/slide01.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 60px;
    text-align: center;
}


/* Equipo */

.team {
    padding: 50px 0;
}


/* Compartimos */

.share {
    padding: 50px 0;
}


/* Separador 2 */

.call-to-action {
    padding: 50px 0;
    background: #47e0b4;
}

.call-to-action .btn {
    margin: 10px;
}


/* Mapa */

.map {
    height: 500px;
    padding: 0 20px;
}

@media(max-width:768px) {
    .map {
        padding: 0;
    }
    .image-about-01 {
        position: absolute;
        width: 100%;
        left: 0px;
        z-index: 3;
    }
    .image-about-02 {
        display: none;
    }
    .image-about-03 {
        display: none;
    }
}

.map iframe {
    pointer-events: none;
}


/* Footer */

footer {
    padding: 100px 0;
    padding: 100px 0;
    height: 500px;
    overflow: hidden;
}

#to-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 10px 12px;
}

.sidebar-nav li a {
    color: #fff;
}


/* Márgenes */

.margin {
    background-color: #DDD;
    position: fixed;
    z-index: 9999;
}

.top-margin {
    top: 0;
}

.bottom-margin {
    bottom: 0;
}

.left-margin {
    left: 0;
}

.rigth-margin {
    right: 0;
}

.top-margin, .bottom-margin {
    height: 20px;
    width: 100%;
}

.left-margin, .rigth-margin {
    height: 100%;
    width: 20px;
}

.kleero01 {
    position: absolute;
    height: 440px;
    overflow: hidden;
    left: 5%;
    margin-top: -60px;
}

.nav>li>a {
    padding: 5px 10px;
    border: 0px;
}

.nav-tabs {
    border-bottom: 0px transparent;
}

.nav-tabs>li {
    margin-bottom: -1px;
    display: inline-block;
    float: none;
}

.nav-tabs>li>a {
    border-radius: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border: none;
    border-bottom-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
}


/* mobile */

@media (max-width: 768px) {
    .margin {
        display: none;
    }
    #menu-toggle {
        top: 5px;
        right: 5px;
    }
    #to-top {
        bottom: 10px;
        right: 10px;
    }
    #sidebar-wrapper {
        width: 100%;
        right: -100%;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -ms-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
    #sidebar-wrapper.active {
        left: 0;
        width: 100%;
        transform: initial;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -ms-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
    .social-media {
        padding-left: 0;
    }
    .list-inline {
        text-align: center;
    }
    #menu-close {
        bottom: 2%;
        top: initial;
        right: 50%;
    }
    .sidebar-nav {
        width: 100%;
        padding: 0;
    }
    .sidebar-nav li {
        text-align: center;
    }
    .email {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .sidebar-nav li a {
        font-size: 18px;
    }
    .sidebar-nav li {
        text-indent: 0px;
        line-height: 42px;
    }
    #logo {
        z-index: 99;
        left: 50%;
        margin-left: -75px;
        width: 150px;
    }
    .kleero01 {
        position: absolute;
        height: 400px;
        overflow: hidden;
        left: -35px;
        margin-top: -40px;
    }
    .kleero01 img {
        width: 50%;
    }
}

@media (max-width: 768px) and (min-height: 480px) {
    #logoMenu {
        display: inline-block;
        width: 150px;
        left: 50%;
        position: relative;
        margin-left: -75px;
        padding-bottom: 30px;
    }
    #logoMenu img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .text-vertical-center h1 {
        font-size: 3.5em;
    }
}